@import url('https://fonts.googleapis.com/css2?family=Inter&family=Josefin+Sans&family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #2c2c2c;
    margin: 0px;
    padding: 0px;
}

h1 {
    color: white;
}

h2 {
    color: white;
}

h3 {
    color: white;
}

p {
    color: white;
}

.header {
    text-align: center;
    background-color: #FDFD96;
    height: 50px;
}

.header h1 {
    color: black;
}

.wrap {
    margin: auto;
    width: 80%;
    overflow: auto;
    background-color: #2c2c2c;
}

.mainleft {
    float: left;
    width: 50%;
    background-color: #2c2c2c;
    height: 500px;
    padding-top: 10px;
}

.mainright {
    font-family: 'Inter', sans-serif;
    float: right;
    width: 45%;
    background-color: #c2c265;
    height: 500px;
    padding-top: 10px;
    margin-left: 5%;
}

.mainright h1 {
    color: black;
    margin-left: 10px;
}

.mainright p {
    color: black;
    margin: 10px;
}

.review-container {
    width: 100%;
    font-family: 'Josefin Sans', sans-serif;
    background-color: #FDFD96;
}

.review-container h1 {
    margin-left: 10px;
    color: black;
}

.review-container p {
    color: black;
}

.review {
    background-color: white;
    width: 95%;
    margin: auto;
    border: 5px solid black;
    padding-left: 15px;
}

.cast-container {
    width: 100%;
}

.cast {
    float: left;
    height: 500px;
    width: 23%;
    background-color: rgb(99, 99, 99);
    border: 5px solid black;
}
